.tituloseccion {
  float: none;
  color: #333333;
  font-size: 4.2rem;
  letter-spacing: 3px;
  padding: 0;
  padding-top: 100px;
  text-align: center;
}

@media (min-width: 790px) {
  .tituloseccion {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  .tituloseccion {
    font-size: 6rem;
  }
}
