.catalogo {
  display: flex;
  height: 100vh;
  width: 100%;
  /*background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/books-background-photo.jpg);*/
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.catalogo h1 {
  float: none;
  color: #333333;
  font-size: 100px;
  letter-spacing: 3px;
  padding: 0;
}
