header {
  width: 100%;
  height: 70px;
  background: #333;
  color: rgb(240, 240, 240);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.contenedor {
  width: 100%;
  margin: auto;
}

h1 {
  float: left;
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;
  margin: 6px 0 6px 15px;
}

i {
  float: right;
  font-size: 2rem;
  margin: 18px 15px 18px 0;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(51, 51, 51, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu a {
  display: block;
  color: rgb(240, 240, 240);
  padding: 25px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid rgb(240, 240, 240, 0.5);
}

.menu a:hover {
  background: rgb(240, 240, 240, 0.2);
}

.fold {
  transform: translateX(0%);
}

@media (min-width: 1024px) {
  .contenedor {
    width: 1000px;
  }

  h1 {
    float: left;
    font-family: "Fjalla One", sans-serif;
    font-size: 3rem;
    margin: 6px 0 6px 0px;
  }

  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
  }

  .menu a {
    border: none;
  }

  .fas {
    display: none;
  }
}
