.loading {
  float: none;
  color: #333333;
  animation: flash;
  animation-duration: 2s;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  font-weight: 700;
}

.catNotFound {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  font-weight: 700;
  align-items: center;
}

#homeicon {
  margin: 40px;
  font-size: 2.8rem;
  padding: 20px;
  color: #f0f0f0;
  background-color: #333333;
  border-radius: 50%;
  text-align: center;
}

.grilla-prodI {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.more {
  display: inline-block;
  color: rgb(114 114 114);

  font-family: "Fjalla One", sans-serif;
  font-size: 0.9rem;
  padding: 5px;
  margin: 10px;
}

.more:hover {
  display: inline-block;
  background: rgb(114 114 114);
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
