.loading {
  float: none;
  color: #333333;
  animation: flash;
  animation-duration: 2s;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  font-weight: 700;
}

.notFound {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  font-weight: 700;
}

.grilla-prod {
  padding-top: 100px;
}
