.cartcontainter {
  margin-top: 130px;
  font-family: Lato, sans-serif;
  color: #333333;
}

.cartcontainter h1 {
  float: none;
  text-align: left;
}

#cartRow {
  height: 70px;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#cartRow img {
  height: 60px;
}

.titulo {
  width: 800px;
  min-width: 200px;
  text-align: left;
  padding-left: 20px;
}

.titulo a {
  text-decoration: none;
  color: #333333;
}

.precio {
  min-width: 70px;
}

.eliminar {
  min-width: 30px;
  text-align: left;
}

.importeTotal h3 {
  text-align: center;
  padding: 30px;
}

.tableCart {
  font-family: Lato, sans-serif;
  padding-top: 10px;
}

h3 {
  width: 80%;
  margin: auto;
  text-align: right;
}

.emptyCart {
  width: 100px;
  margin: auto;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #4994dc;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #4994dc;
  font-family: Arial, Helvetica, sans-serif;
}

.emptyCart:hover {
  background-color: #4994dc;
  color: white;
  cursor: pointer;
}

#homeicon {
  margin: 40px;
  font-size: 2.8rem;
  padding: 20px;
  color: #f0f0f0;
  background-color: #333333;
  border-radius: 50%;
}

.fa-home:before {
  color: #f0f0f0;
}
