.cardI {
  width: 200px;
  margin: 10px;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.cardI img {
  border-bottom: 1px solid #a2a2a2;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.cardtextI {
  padding: 10px;
  height: 90px;

  color: #333333;
}

a {
  text-decoration: none;
  color: #3333;
}
